@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&family=Roboto:wght@400;500&family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}

main {
  max-width: 1400px;
  margin: auto;
}

@media screen and (min-width: 600px) {
  .index-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}
@media screen and (min-width: 992px) {
  .index-main {
    max-width: 1400px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 150px) repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}

header {
  max-width: 1400px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
header i {
  position: absolute;
  top: 25px;
  left: 30px;
  font-size: larger;
}
header i:hover {
  cursor: pointer;
}
@media screen and (min-width: 992px) {
  header i {
    position: relative;
    top: 5px;
    left: -25px;
  }
}
header .header__logo {
  display: flex;
  justify-content: center;
  width: 100%;
}
@media screen and (min-width: 992px) {
  header .header__logo {
    justify-content: flex-start;
    padding-left: 60px;
  }
}
header .header__logo img {
  width: 160px;
}

.section-location-exploration {
  display: grid;
  grid-template-rows: 60px 260px;
}
@media screen and (min-width: 600px) {
  .section-location-exploration {
    grid-area: 1/1/3/2;
  }
}
@media screen and (min-width: 992px) {
  .section-location-exploration {
    grid-area: 1/1/3/2;
  }
}

.header__location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background-color: #e5e5e5;
  color: #4d4d4d;
  border-top: 2px solid none;
  box-shadow: 0px 3px 3px #d9d9d9 inset;
  padding: 15px;
}
.header__location__content {
  align-self: center;
  font-family: "Roboto";
  font-weight: 500;
}
.header__location i {
  align-self: center;
  padding-right: 15px;
}

.header__exploration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #F2F2F2;
  padding-top: 30px;
  padding-bottom: 50px;
  margin-bottom: 20px;
}
.header__exploration h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  font-family: "Roboto";
  margin-bottom: 10px;
}
.header__exploration__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-size: 16px;
  color: grey;
  margin-bottom: 30px;
}
.header__exploration a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 15px;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  border: 0px;
  border-radius: 25px;
  padding: 13px;
  padding-left: 20px;
  padding-right: 20px;
}
.header__exploration a:hover {
  box-shadow: 3px 3px 8px #8c8c8c;
}
.header__exploration a:focus {
  box-shadow: 3px 3px 8px #4d4d4d;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: "Roboto";
  margin-bottom: 40px;
}
@media screen and (min-width: 600px) {
  .fonctionnement {
    grid-area: 3/1/5/2;
    position: relative;
    top: -260px;
  }
}
@media screen and (min-width: 992px) {
  .fonctionnement {
    grid-area: 1/2/3/3;
    top: 0;
  }
}
.fonctionnement h2 {
  align-self: flex-start;
  padding: 20px;
  font-size: 20px;
}
@media screen and (min-width: 600px) {
  .fonctionnement h2 {
    align-self: center;
  }
}
.fonctionnement__list__body {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
  border-radius: 20px;
  background-color: #F2F2F2;
  box-shadow: 2px 2px 8px #d9d9d9;
  padding: 18px;
  padding-right: 50px;
  margin-bottom: 15px;
}
.fonctionnement__list__body:hover {
  background-color: #f2eafb;
}
.fonctionnement__list__body:hover i {
  color: #9356DC;
}
.fonctionnement__list__body__numbers {
  position: relative;
  left: -22px;
  font-size: 11px;
  color: white;
  padding-top: 3.5px;
  padding-bottom: 3.5px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 15px;
  background-color: #9356DC;
}
.fonctionnement__list__body p {
  position: relative;
  left: -22px;
  align-self: center;
  font-size: 13px;
  font-weight: 500;
}
.fonctionnement i {
  position: relative;
  left: -22px;
  align-self: center;
  color: grey;
}

a {
  text-decoration: none;
  color: black;
}

.cards-restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #F2F2F2;
  font-family: "Roboto";
  padding-top: 30px;
  padding-bottom: 30px;
}
@media screen and (min-width: 600px) {
  .cards-restaurants {
    grid-area: 1/2/5/3;
  }
}
@media screen and (min-width: 992px) {
  .cards-restaurants {
    grid-area: 3/1/5/3;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
  }
}
.cards-restaurants h2 {
  align-self: flex-start;
  padding: 20px;
  font-size: 20px;
  font-family: "Roboto";
}
@media screen and (min-width: 600px) {
  .cards-restaurants h2 {
    align-self: center;
  }
}
@media screen and (min-width: 992px) {
  .cards-restaurants h2 {
    display: none;
  }
}
.cards-restaurants span {
  position: relative;
  top: 20px;
  left: 85px;
  font-size: 90%;
  font-family: "Roboto";
  color: #278870;
  background-color: #99E2D0;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: -25px;
}
@media screen and (min-width: 992px) {
  .cards-restaurants span {
    left: 290px;
    margin-left: -95px;
  }
}
.cards-restaurants__card-unit {
  width: auto;
  border-radius: 10px;
  box-shadow: 2px 2px 6px #d9d9d9;
  margin-bottom: 20px;
}
.cards-restaurants__card-unit img {
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 300px;
  height: 130px;
}
.cards-restaurants__card-unit__card-body {
  display: grid;
  grid-template-columns: 1fr 40px;
  align-items: center;
  padding: 10px;
  padding-bottom: 15px;
}
.cards-restaurants__card-unit__card-body h3 {
  font-size: 15px;
}
.cards-restaurants__card-unit__card-body p {
  font-size: 15px;
  font-weight: lighter;
}
.cards-restaurants__card-unit__card-body .index-back-heart {
  font-size: 20px;
}
.cards-restaurants__card-unit__card-body .index-back-heart:active + .index-front-heart {
  transition: 500ms;
  transform: scale(1.4);
  color: transparent;
  background-image: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  cursor: pointer;
}
.cards-restaurants__card-unit__card-body .index-front-heart {
  color: white;
  position: relative;
  bottom: 1.5px;
  right: 22px;
  transform: scale(0);
}
.cards-restaurants__card-unit__card-body .index-front-heart:active {
  transition: 500ms;
  transform: scale(1.4);
  color: transparent;
  background-image: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
}

.restaurant-image img {
  object-fit: cover;
  width: 100%;
  height: 250px;
}

.menu-section {
  position: relative;
  top: -60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #F2F2F2;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding: 20px;
  padding-top: 30px;
  padding-bottom: 100px;
  margin-bottom: -60px;
}
@media screen and (min-width: 992px) {
  .menu-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px repeat(1, 1fr) 100px;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    padding-bottom: 30px;
    padding-top: 10px;
  }
}
.menu-section__titre {
  display: grid;
  grid-template-columns: 1fr 40px 40px;
  width: 100%;
}
@media screen and (min-width: 600px) {
  .menu-section__titre {
    display: flex;
    justify-content: center;
    align-self: center;
  }
}
@media screen and (min-width: 992px) {
  .menu-section__titre {
    grid-area: 1/1/2/4;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
.menu-section__titre h1 {
  font-family: "Shrikhand";
}
@media screen and (min-width: 600px) {
  .menu-section__titre h1 {
    align-self: center;
  }
}
.menu-section__titre #back-heart {
  display: flex;
  overflow: hidden;
  align-self: center;
  justify-content: end;
  font-size: 25px;
  position: absolute;
  right: 20px;
}
.menu-section__titre #back-heart:active + #front-heart {
  transition: 500ms;
  transform: scale(1.5);
  color: transparent;
  background-image: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
}
@media screen and (min-width: 600px) {
  .menu-section__titre #back-heart:active + #front-heart {
    transition: 500ms;
    transform: scale(1.5);
    color: transparent;
    background-image: linear-gradient(#FF79DA, #9356DC);
    background-clip: text;
    -webkit-background-clip: text;
  }
}
.menu-section__titre #front-heart {
  display: flex;
  align-self: center;
  justify-content: end;
  font-size: 17px;
  color: white;
  position: absolute;
  right: 24px;
  transition: 700ms;
  transform: scale(0);
  cursor: pointer;
}
.menu-section__titre #front-heart:active {
  transition: 500ms;
  transform: scale(1.5);
  color: transparent;
  background-image: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
}
@media screen and (min-width: 600px) {
  .menu-section__titre #front-heart:active {
    transition: 500ms;
    transform: scale(1.5);
    color: transparent;
    background-image: linear-gradient(#FF79DA, #9356DC);
    background-clip: text;
    -webkit-background-clip: text;
  }
}
.menu-section__course {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 100%;
  gap: 10px;
  font-family: "Roboto";
}
@media screen and (min-width: 992px) {
  .menu-section__course #menu-section_course1 {
    grid-area: 2/1/3/2;
  }
  .menu-section__course #menu-section_course2 {
    grid-area: 2/2/3/3;
  }
  .menu-section__course #menu-section_course3 {
    grid-area: 2/3/3/4;
  }
}
.menu-section__course h2 {
  font-family: "Roboto";
  font-size: smaller;
  font-weight: 400;
  margin-bottom: -5px;
}
@media screen and (min-width: 600px) {
  .menu-section__course h2 {
    align-self: center;
  }
}
.menu-section__course h2 span {
  position: relative;
  top: -10px;
  font-size: 20px;
  font-weight: 600;
  color: #99E2D0;
}
.menu-section__course__dish {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  background-color: white;
  border-radius: 15px;
  box-shadow: 2px 2px 8px #d9d9d9;
  width: 100%;
  height: 60px;
  padding: 10px;
  opacity: 0;
}
@media screen and (min-width: 600px) {
  .menu-section__course__dish {
    width: 560px;
  }
}
@media screen and (min-width: 992px) {
  .menu-section__course__dish {
    width: 100%;
  }
}
.menu-section__course__dish__body {
  display: block;
  white-space: nowrap;
  width: 100%;
  height: 40px;
  height: 100%;
}
@media screen and (min-width: 992px) {
  .menu-section__course__dish__body {
    width: 50%;
  }
}
.menu-section__course__dish__body__title {
  font-weight: 600;
}
.menu-section__course__dish__body__description {
  font-size: smaller;
}
.menu-section__course__dish__price {
  display: flex;
  align-self: flex-end;
  font-size: smaller;
  position: relative;
  left: 40px;
  font-weight: 600;
  transition: transform 350ms;
  margin-left: -40px;
}
@media screen and (min-width: 600px) {
  .menu-section__course__dish__price {
    margin-right: -50px;
    padding-right: 20px;
    position: relative;
    left: 0px;
  }
}
@media screen and (min-width: 992px) {
  .menu-section__course__dish__price {
    left: 90px;
    margin-right: -50px;
  }
}
.menu-section__course__dish__check {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 110px;
  width: 70px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #99E2D0;
  margin-top: -10px;
  margin-bottom: -10px;
  margin-left: -20px;
  transition: transform 350ms;
  transform-origin: -100% 0;
}
.menu-section__course__dish__check i {
  color: #99E2D0;
  background-color: white;
  border-radius: 25px;
  padding: 3px;
  padding-left: 4px;
  padding-right: 4px;
}
.menu-section a {
  cursor: pointer;
}
.menu-section__commander {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 200px;
  color: white;
  font-family: "Roboto";
  font-size: 15px;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 25px;
  padding: 13px;
  margin-top: 30px;
}
@media screen and (min-width: 992px) {
  .menu-section__commander {
    margin-left: 20px;
  }
}

@keyframes rotate360 {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.menu-section__course__dish:active > .menu-section__course__dish__body {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}
@media screen and (min-width: 600px) {
  .menu-section__course__dish:hover > .menu-section__course__dish__body {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
  }
}

.menu-section__course__dish:active > .menu-section__course__dish__check {
  width: 100px;
  transform: translate(-100px, 0);
}
@media screen and (min-width: 600px) {
  .menu-section__course__dish:hover > .menu-section__course__dish__check {
    width: 100px;
    transform: translate(-100px, 0);
  }
}
@media screen and (min-width: 992px) {
  .menu-section__course__dish:hover > .menu-section__course__dish__check {
    width: 70px;
    margin-left: -10px;
  }
}

.menu-section__course__dish:active > .menu-section__course__dish__price {
  transition: 350ms;
  transform: translate(-60px, 0);
  padding-left: 30px;
  margin-left: 10px;
}
@media screen and (min-width: 600px) {
  .menu-section__course__dish:hover > .menu-section__course__dish__price {
    transition: 350ms;
    transform: translate(-60px, 0);
  }
}
@media screen and (min-width: 992px) {
  .menu-section__course__dish:hover > .menu-section__course__dish__price {
    padding-left: -20px;
  }
}

.menu-section__course__dish:active i {
  animation: rotate360 350ms;
}
@media screen and (min-width: 600px) {
  .menu-section__course__dish:hover i {
    animation: rotate360 350ms;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  50% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.first-dish {
  animation: appear 1000ms forwards;
  animation-delay: 200ms;
}

.second-dish {
  animation: appear 1000ms forwards;
  animation-delay: 400ms;
}

.third-dish {
  animation: appear 1000ms forwards;
  animation-delay: 600ms;
}

.fourth-dish {
  animation: appear 1000ms forwards;
  animation-delay: 800ms;
}

.index-header, .index-main, .index-footer {
  opacity: 0.1;
  animation: full-appear 3000ms forwards;
}

.loader {
  position: fixed;
  top: 35%;
  left: 50%;
  display: flex;
  flex-direction: column;
  margin-left: -100px;
  gap: 20px;
  opacity: 0;
  animation: global-opacity 3000ms ease-out;
}
.loader img {
  width: 200px;
  animation: scaled 1500ms infinite;
}
.loader #back {
  position: absolute;
  top: 45px;
  animation: fading 1500ms infinite;
}
.loader__location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  color: #4d4d4d;
  margin-bottom: -15px;
  margin-left: -10px;
}
.loader__location__content {
  align-self: center;
  font-family: "Roboto";
  width: 200px;
  font-weight: 500;
  margin-left: 60px;
  padding-top: 20px;
  color: #FF79DA;
}
.loader__loading {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
  padding-top: 20px;
  font-family: "Roboto";
  color: #9356DC;
}
.loader__loading__ball {
  position: relative;
  top: 10px;
  font-size: 40%;
  border-radius: 25px;
  padding-right: 10px;
  padding-left: 10px;
  margin-left: 10px;
  background: linear-gradient(#FF79DA, #9356DC);
}

#first {
  animation: 1000ms bounce 0ms infinite;
}

#second {
  animation: 1000ms bounce 200ms infinite;
}

#third {
  animation: 1000ms bounce 400ms infinite;
}

@keyframes scaled {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes global-opacity {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes full-appear {
  0% {
    opacity: 0.1;
  }
  90% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fading {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
footer {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  margin: auto;
  background-color: #2e2e2e;
  font-family: "Roboto";
  font-size: 14px;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 30px;
}
footer img {
  -webkit-filter: invert(1);
  filter: invert(1);
  width: 100px;
  margin-bottom: 20px;
}
footer a, footer i {
  display: flex;
  gap: 10px;
  color: white;
}
footer a {
  padding-bottom: 10px;
}

/*# sourceMappingURL=main.css.map */
