@use "../base/_polices.scss" as police;
@use "../utils/variables" as variables;

.index-header, .index-main, .index-footer{
    opacity: 0.1;
    animation: full-appear 3000ms forwards;
}

.loader{
    position: fixed;
    top:35%;
    left:50%;
    display: flex;
    flex-direction: column;
    margin-left: -100px;
    gap:20px;
    opacity: 0;
    animation: global-opacity 3000ms ease-out;

    img{
        width:200px;
        animation: scaled 1500ms infinite;
    }

    #back{
        position: absolute;
        animation: fading 1500ms infinite;
    }

    &__location{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width:100%;
        color : darken(grey,20%);
        margin-bottom: -15px;
        margin-left: -10px;
    
        &__content{
            align-self: center;
            @include police.main-font;
            width:200px;
            font-weight: 500;
            margin-left: 60px;
            padding-top: 20px;
            color : variables.$color-secondary;
        }
    }

    &__loading{
        display: flex;
        flex-direction: row;
        margin-left: 30px;
        padding-top: 20px;
        @include police.main-font;
        color : variables.$color-primary;

        &__ball{
            position: relative;
            top:10px;
            font-size: 40%;
            border-radius: 25px;
            padding-right: 10px;
            padding-left: 10px;
            margin-left: 10px;
            background:linear-gradient(variables.$color-secondary,variables.$color-primary);
        }
    }
}

#first{
    animation:1000ms bounce 0ms infinite;
}

#second{
    animation:1000ms bounce 200ms infinite;
}

#third{
    animation:1000ms bounce 400ms infinite;
}


@keyframes scaled {
    0%{transform:scale(1);}
    50%{transform:scale(1.3);}
    100%{transform: scale(1);}
}

@keyframes global-opacity{
    0%{
        opacity: 1;
    }

    90%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}

@keyframes full-appear{
    0%{
        opacity: 0.1;
    }

    90%{
        opacity: 0.1;
    }

    100%{
        opacity: 1;
    }
}

@keyframes fading {
    0%{transform: scale(1);
        opacity: 1;}
    100%{transform: scale(2);
        opacity: 0;}
}

@keyframes bounce{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-20px);
    }

    100%{
        transform: translateY(0px);
    }
}




