@use "../utils/_map-breakpoints.scss" as breakpoint;

header{
    max-width: 1400px;
    margin:auto;
    padding-top: 20px;
    padding-bottom: 20px;

    i{
        position: absolute;
        top: 25px;
        left:30px;
        font-size: larger;

        &:hover{
            cursor: pointer;
        }

        @media screen and (min-width : map-get(breakpoint.$breakpoints,desktop)) {
            position: relative;
            top: 5px;
            left:-25px;
        }
    }
    
    .header__logo{
        display: flex;
        justify-content: center;
        width: 100%;

        @media screen and (min-width : map-get(breakpoint.$breakpoints,desktop)) {
            justify-content: flex-start;
            padding-left: 60px;
        }

        img{
            width:160px;
        }
    }

}


