@import "css/base/_polices.css";
// @import "sass-utils/_variables.scss";

$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$lightgrey:#F2F2F2;

header{
    max-width: 1400px;
    margin:auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header__logo{
    display: flex;
    justify-content: center;
    width: 100%;

    @media screen and (min-width : map-get($breakpoints,desktop)) {
        justify-content: flex-start;
        padding-left: 50px;
    }

    img{
        width:160px;
    }
}

