@import "root/css/base/_polices.css";

header{
    display: grid;
    grid-template-rows: 1fr 50px 2fr;
}

.header__logo{
    display: flex;
    justify-content: center;
    width: auto;
    padding-top : 20px;
    padding-bottom: 10px;

    img{
        width:160px;
    }
}

.header__location{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: $lightgrey;
    color : darken(grey,20%);
    border-top: 2px solid none;
    box-shadow: 0px 3px 3px darken($lightgrey,10%) inset;

    &__content{
        align-self: center;
        font-family: "Roboto";
        font-weight: bold;
    }

    i{
        align-self: center;
        padding-right: 15px;
    }
}