@use "../utils/variables" as variables;
@use "../base/_polices.scss" as police;
@use "../utils/_map-breakpoints.scss" as breakpoint;

a{
    text-decoration: none;
    color: black;
}

.cards-restaurants{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    background-color: variables.$lightgrey;
    @include police.main-font;
    padding-top: 30px;
    padding-bottom: 30px;

    @media screen and (min-width : map-get(breakpoint.$breakpoints,tablet)) {
        grid-area: 1 / 2 / 5 / 3;
    }

    @media screen and (min-width : map-get(breakpoint.$breakpoints,desktop)) {
        grid-area: 3 / 1 / 5 / 3;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        gap:20px;
    }

    h2{
        align-self: flex-start;
        padding:20px;
        font-size: 20px;
        @include police.main-font;

        @media screen and (min-width : map-get(breakpoint.$breakpoints,tablet)) {
            align-self: center;
        }

        @media screen and (min-width : map-get(breakpoint.$breakpoints,desktop)) {
            display: none;
        }

    }

    span{
        position: relative;
        top:20px;
        left:85px;
        font-size: 90%;
        @include police.main-font;
        color: darken(variables.$color-tertiary,40%);
        background-color: variables.$color-tertiary;
        padding:4px;
        padding-left: 8px;
        padding-right: 8px;
        margin-bottom: -25px;

            @media screen and (min-width : map-get(breakpoint.$breakpoints,desktop)) {
                left : 290px;
                margin-left: -95px;
            }
    }
    
    &__card-unit{
        width: auto;
        border-radius: 10px;
        box-shadow: 2px 2px 6px darken(variables.$lightgrey,10%);
        margin-bottom: 20px;

        img{
            object-fit:cover;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            width: 300px;
            height:130px;
        }

        &__card-body{
            display: grid;
            grid-template-columns: 1fr 40px;
            align-items: center;
            padding: 10px;
            padding-bottom: 15px;

            h3{
                font-size: 15px;
            }

            p{
                font-size: 15px;
                font-weight: lighter;
            }

            .index-back-heart{
                font-size: 20px;
                
                &:active + .index-front-heart {
                    transition: 500ms;
                    transform : scale(1.4);
                    color:variables.$color-primary;
                    cursor:pointer;
                }
            }

            .index-front-heart{
                color:white;
                position: relative;
                bottom:1.5px;
                right:22px;

                &:active {
                    transition: 500ms;
                    transform : scale(1.4);
                    color:variables.$color-primary;
                }
            }
        }
    }
}