.fonctionnement{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    font-family: "Roboto";
    margin-bottom: 40px;

    @media screen and (min-width : map-get($breakpoints,tablet)) {
        grid-area: 3 / 1 / 5 / 2;
        position:relative;
        top:-260px;
    }

    h2{
        align-self: flex-start;
        padding:20px;
        font-size: 20px;

        @media screen and (min-width : map-get($breakpoints,tablet)) {
            align-self: center;
        }
    }


    &__list{

        &__body{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            gap:20px;
            border-radius: 20px;
            background-color: $lightgrey;
            box-shadow: 2px 2px 8px darken($lightgrey,10%);
            padding:18px;
            padding-right: 50px;
            margin-bottom: 15px;

            &:hover{
                background-color: lighten($color-primary,35%);
                i{
                    color: $color-primary;
                }
            }

            &__numbers{
                position:relative;
                left:-22px;
                font-size: 11px;
                color:white;
                padding-top:3.5px;
                padding-bottom: 3.5px;
                padding-left:7px;
                padding-right: 7px;
                border-radius: 15px;;
                background-color: $color-primary;
            }

            & p{
                position:relative;
                left:-22px;
                align-self: center;
                font-size: 13px;
                font-weight: 500;
            }
        
        }  
    }

    i{
        position:relative;
        left:-22px;
        align-self: center;
        color:grey;
    }
}