@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&family=Roboto:wght@400;500&display=swap");
@import "css/base/_polices.css";
* {
  box-sizing: border-box;
  margin: 0;
}

header {
  display: grid;
  grid-template-rows: 60px 50px 260px;
}

.header__logo {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 10px;
}
.header__logo img {
  width: 160px;
}

.header__location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background-color: #e5e5e5;
  color: #4d4d4d;
  border-top: 2px solid none;
  box-shadow: 0px 3px 3px #d9d9d9 inset;
}
.header__location__content {
  align-self: center;
  font-family: "Roboto";
  font-weight: 500;
}
.header__location i {
  align-self: center;
  padding-right: 15px;
}

.header__exploration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F2F2F2;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.header__exploration h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  font-family: "Roboto";
  margin-bottom: 10px;
}
.header__exploration__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-size: 16px;
  color: grey;
  margin-bottom: 30px;
}
.header__exploration a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 15px;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  border: 0px;
  border-radius: 25px;
  padding: 13px;
  padding-left: 20px;
  padding-right: 20px;
}
.header__exploration a:hover {
  box-shadow: 3px 3px 8px #8c8c8c;
}
.header__exploration a:focus {
  box-shadow: 3px 3px 8px #4d4d4d;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  margin-bottom: 40px;
}
.fonctionnement h2 {
  align-self: flex-start;
  padding: 20px;
  font-size: 20px;
}
.fonctionnement__list__body {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
  border-radius: 20px;
  background-color: #F2F2F2;
  box-shadow: 2px 2px 8px #d9d9d9;
  padding: 18px;
  padding-right: 50px;
  margin-bottom: 15px;
}
.fonctionnement__list__body:hover {
  background-color: #f2eafb;
}
.fonctionnement__list__body:hover i {
  color: #9356DC;
}
.fonctionnement__list__body__numbers {
  position: relative;
  left: -22px;
  font-size: 11px;
  color: white;
  padding-top: 3.5px;
  padding-bottom: 3.5px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 15px;
  background-color: #9356DC;
}
.fonctionnement__list__body p {
  position: relative;
  left: -22px;
  align-self: center;
  font-size: 13px;
  font-weight: 500;
}
.fonctionnement i {
  position: relative;
  left: -22px;
  align-self: center;
  color: grey;
}

a {
  text-decoration: none;
  color: black;
}

.cards-restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #F2F2F2;
  font-family: "Roboto";
  padding-top: 30px;
}
.cards-restaurants h2 {
  align-self: flex-start;
  padding: 20px;
  font-size: 20px;
  font-family: "Roboto";
}
.cards-restaurants__card-unit {
  width: auto;
  border-radius: 10px;
  box-shadow: 2px 2px 6px #d9d9d9;
  margin-bottom: 20px;
}
.cards-restaurants__card-unit img {
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 300px;
  height: 130px;
}
.cards-restaurants__card-unit__card-body {
  display: grid;
  grid-template-columns: 1fr 40px;
  align-items: center;
  padding: 10px;
  padding-bottom: 15px;
}
.cards-restaurants__card-unit__card-body h3 {
  font-size: 15px;
}
.cards-restaurants__card-unit__card-body p {
  font-size: 15px;
  font-weight: lighter;
}
.cards-restaurants__card-unit__card-body i {
  font-size: 20px;
  color: #bfbfbf;
}
.cards-restaurants__card-unit__card-body i:hover {
  color: #9356DC;
  cursor: pointer;
}

/*# sourceMappingURL=index.css.map */
